<!DOCTYPE html>
<html>
	<head>
		<title>Always Wanna Fly</title>
<!--
Coming2Live series free coming soon templates!
HTML version by Awe7 (http://awe7.com/)
You can find WordPress version here:
https://wordpress.org/plugins/coming2live/
-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
	</head>
	
	<body>
		<div class="container">
			<p>HEADER</p>
		</div>
	</body>
</html>